h1{
    color:#ffffff;
    font-size:40px;
    text-align:center;
    background-color:#000000;   
}
h2{
    color:#fffff;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    background-color:#ccffff;   
}
h3{
    color:#000fff;
    font-size:px;
    font-weight:bold; 
   
}
p{
     color:#00f0ff;
}
body{
    background-image: url(../images/06.jpg)
}